
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark default-color ie-nav" [containerInside]="false">
        <mdb-navbar-brand>
            <a class="logo navbar-brand"><strong>Navbar</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbWavesEffect>
                    <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Features</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Pricing</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Opinions</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <button type="button" mdbBtn color="danger" mdbWavesEffect (click)='logoutUser();'>Logout</button>
                </li>
            </ul>
        </links>
    </mdb-navbar>

<div class="container-fluid">
        <div class="row p-5">

            <div class="row">
                <div class="col-md-3 card-group mb-3 mt-2" *ngFor='let item of artigos'>
                    <mdb-card>
                        <mdb-card-img [src]="item.urlToImage" class="img responsive">
                            
                        </mdb-card-img>
                        <mdb-card-body> 
                            <mdb-card-title class="text-justify">
                                {{item.title}}
                            </mdb-card-title>

                            <mdb-card-text class="text-justify">
                                <p>{{item.description}}</p>
                                <a class="btn btn-info" href='{{item.url}}' target='_blank'>Leia mais</a>
                            
                            </mdb-card-text>
                        </mdb-card-body>
                    </mdb-card>               
                
                </div>
            </div>
        </div>
    </div>


